{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Live Wedding - Ben and Lindsay{% endblock %}

{% block content %}
<div id="main_content" class="container-fluid pt-3" data-form-url='{% url "photos:photo_create" %}'>
  <div class="row">
    <!-- order options -->
    <!-- <div class="">
      <select id="filter_dropdown" class="form-select">
        <option selected value="-date">descending</option>
        <option value="date">ascending</option>
      </select>
    </div> -->
    <form method="get" action="{% url 'layout:index' %}" class="mb-2">
      <div class="row d-flex justify-content-end mb-3">
        <div class="col-md-4 col-xs-12 d-flex justify-content-end ">
          <select onchange="this.form.submit()" class="form-select bg-light w-50" name="orderby">
            <option value="Descending" {% if sort_order == 'Descending' %} selected {% endif %}>Descending</option>
            <option value="Ascending" {% if sort_order == 'Ascending' %} selected {% endif %}>Ascending</option>
          </select>
        </div>

      </div>
    </form>
    <!-- photos -->
    {% for obj in object_list %}
    <div class="col-md-4 col-xs-12 d-flex align-items-center justify-content-centerd">
      <figure class="figure">
        <img src="{{ obj.img.url }}" class="img-fluid border rounded-3 border-1 border-dark" alt="" style="">
        <figcaption class="figure-caption text-center bg-light text-dark rounded-1">{{ obj.caption }}</figcaption>
      </figure>
    </div>
    {% empty %}
    <div class="col">
      <p>No Photos Uploaded.</p>
    </div>
    {% endfor %}


    <div class="pagination d-flex justify-content-end">
        <span class="step-links">
          <ul class="pagination">
            <!-- first page -->
            <!-- <li class="page-item"><a class="page-link" href="?page=1">first</a></li> -->
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}&orderby={{ sort_order }}">previous</a>
            </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
              {% if page == page_obj.number %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="?page={{ page }}&orderby={{ sort_order }}">{{ page }}</a>
                </li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}&orderby={{ sort_order }}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}
            <!-- <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span> -->

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}&orderby={{ sort_order }}">next</a>
            </li>
            {% endif %}
            <!-- last page -->
            <!-- <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a></li> -->
          </ul>
        </span>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock  %}


{% block javascript %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
