{% extends 'layout/base.html' %}

{% block title %}Live Wedding - Ben and Lindsay{% endblock %}

{% block content %}
<div id="main_content" class="container-fluid">
  <div class="row">

    {% for obj in object_list %}
    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
        <figure class="figure">
          <img src="{{ obj.img.url }}" class="img-fluid border rounded-3" alt="">
          <figcaption class="figure-caption text-center">{{ obj.caption }}</figcaption>
        </figure>
    </div>
    {% empty %}
    <div class="col-md-12">
      <p>No Photos Uploaded.</p>
    </div>
    {% endfor %}

  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock  %}




{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {

  $("#upload_photo_btn").modalForm({
      formURL: "{% url 'photos:photo_create' %}"
  });

});
</script>
{% endblock %}
