/* superscripts */
.asteriskField {
  color: red;
}


/* page appearance adjustment */
html, body {
  height: 100%;
}
#main_content {
  min-height: calc(100% - 120px);
}
.header {
  height: 60px;
}
.footer {
  height: 60px;
}
/* fonts */
.wedding-font {
  font-family: 'Great Vibes', cursive;
}


/* bootstrap overrides */
.page-item.active .page-link {
	background-color: #212529;
}
