/* superscripts */
.asteriskField {
  color: red;
}


/* page appearance adjustment */
html, body {
  height: 100%;
}
body {
  background: url("/static/photos/img/background_flowers.jpg");
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  /* background-position: 50% 0; */
  background-size: cover;
  width: 100%;
}
#main_content {
  min-height: calc(100% - 120px);
}
.header {
  height: 60px;
}
.footer {
  height: 60px;
}
/* fonts */
.wedding-font {
  font-family: 'Great Vibes', cursive;
}

.bride-groom img {
  height: calc(1.325rem + .9vw) !important;
}
/* bootstrap overrides */
.page-item.active .page-link {
	background-color: #212529;
  border-color: #fff;
}
.page-link, .page-link:hover {
	color: #000;
}
