{% load crispy_forms_tags %}
{% load static %}

<form id="upload_img_form" enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Upload a Photo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <div id="status" class="" style="display:none;">
      <div class="alert alert-primary py-1 mb-0" role="alert">
        Uploading Image...
      </div>
    </div>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button id="submit_button" type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

{% block javascript %}
<script src="{% static 'photos/js/photos.js' %}"></script>
{% endblock %}
